project1/plots0.001/*
project1/plots0.01/*
project1/plots0.08/*
project1/labels/*
project1/test_data/*
project1/train_data/*
project1/multiclass_parameters.txt
project1/proj1_instruction.docx
project1/proj1_supplement.pdf

project2/plots1/*
project2/plots2/*
project2/labels/*
project2/test_data/*
project2/train_data/*
project2/nn_parameters.txt
project2/Program2Spring21__instructions.pdf

project3/results2/*
project3/results9/*
project3/results10/*
project3/testing_data.npy
project3/testing_label.npy
project3/training_data.npy
project3/training_label.npy

project4/results/*
project4/joint_3d_clips_train.npy
project4/joint_3d_clips_valid.npy
project4/videoframes_clips_train.npy
project4/videoframes_clips_valid.npy

project5/__pycache__/*
project5/results/*
project5/youtube_action_train_data_part1.pkl
project5/youtube_action_train_data_part2.pkl
project5/yt_action_data_train.npy
project5/yt_action_data_valid.npy
project5/yt_action_labels_train.npy
project5/yt_action_labels_valid.npy